/**
 * Base Widget
 */

body {
    margin: 0;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
}

.app:hover {
    background: red;
    border: 1px solid black;
}

.widget {
    -webkit-app-region: drag;
    box-sizing: border-box;
}